@import url(https://cdn.simplecss.org/simple.min.css);
@font-face {
    font-family: 'Grotesk';
    src: url('../fonts/grotesk-black.ttf') format('truetype');
}

h1{
    font-family: 'Grotesk';

}
#content {
    padding: 20px;
    min-height: 80vh;
}