{% extends "layout.html" %}
{% block title %}About{% endblock %}
{% block head %}
  {{ super() }}
{% endblock %}
{% block content %}
      <div class="hero">
          
        <h1>About Us</h1>
        <p>This is a simple Flask application to showcase my portfolio.</p>
    </div>
{% endblock %}
{% block footer %}
<div id="weatherapi-weather-widget-3"></div><script type='text/javascript' src='https://www.weatherapi.com/weather/widget.ashx?loc=1314375&wid=3&tu=1&div=weatherapi-weather-widget-3' async></script><noscript><a href="https://www.weatherapi.com/weather/q/nairobi-1314375" alt="Hour by hour Nairobi weather">10 day hour by hour Nairobi weather</a></noscript>
  &copy; Copyright 2025 by <a href="#">you</a>.
{% endblock %} 